@using EntityLayer.Concrete
@model List<Urun>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Ürünler</h3>
<br />
<table class="table table-hover">
    <tr>
        <th></th>
        <th>Ürün ID</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Kategori</th>
        <th>Marka</th>
        <th>Stok</th>


    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td><input type="checkbox" class="table-checkbox" value="1"></td>
            <td>@item.UrunID</td>
            <td>@item.UrunAd</td>
            <td>@item.Fiyat</td>
            <td>@item.KategoriAd</td>
            <td>@item.Marka</td>
            <td>@item.Stok</td>
        </tr>
    }
</table>

<br />
<a href="/Urun/AddUrun" class="btn btn-info">Yeni Ürün</a>
<a href="/Urun/DeleteUrun" class="btn btn-danger">Ürün Sil</a>
<a href="/Urun/UpdateUrun" class="btn btn-success">Ürün Güncelle</a>

<!-- Kategori sayfasındaki tablo -->
<table>
    <thead>
        <tr>
            <th>Tablo Başlık</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tablo Veri</td>
            <td></td>
        </tr>
        <!-- Diğer tablo satırları -->
    </tbody>
</table>

<!-- Silme formu -->
<form id="delete-form" action="/kategori/sil" method="POST">
    <input type="hidden" name="table-ids" id="table-ids-input">
    <button type="submit">Seçilenleri Sil</button>
</form>

<!-- JavaScript kodu -->
<script>
    // Form submit edildiğinde
    document.getElementById('delete-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Sayfanın yeniden yüklenmesini engelle

        // Seçilen tabloların ID'lerini al
        var tableIds = [];
        var checkboxes = document.getElementsByClassName('table-checkbox');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                tableIds.push(checkboxes[i].value);
            }
        }

        // ID'leri gizli alana aktar
        document.getElementById('table-ids-input').value = tableIds.join(',');

        // AJAX çağrısı yap veya formu gönder
        // Örneğin: XMLHttpRequest veya jQuery.ajax ile sunucuya istek gönder

        // AJAX çağrısından sonra sayfayı güncelleyebilirsiniz
    });
</script>