@model EntityLayer.Concrete.Satis
@{
    ViewBag.Title = "EditSatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<center><h2>Satış Düzenleme Sayfası</h2></center>
@using (Html.BeginForm("EditSatis", "Satis", FormMethod.Post))
{
    <div class="form-group" style="margin-left:20px">

        @*@Html.Label("Satış")
        @Html.TextBoxFor(x => x.SatisID, new { @class = "form-control " })
        @Html.ValidationMessageFor(x => x.SatisID)*@
        @Html.HiddenFor(x => x.SatisID)
        <br /><br />
        @Html.Label("Müşteri ")
        @Html.DropDownListFor(x => x.MusteriID, (List<SelectListItem>)ViewBag.vlq, new
         { @class = "form-control" })
        <br /><br />
        @Html.Label("Ürün ")
        @Html.DropDownListFor(x => x.UrunID, (List<SelectListItem>)ViewBag.vlg, new
        { @class = "form-control" })
        <br /><br />

        <br /> <br />

        <br /> <br />

        <button id="kaydetButton">Kaydet</button>
        <script>
            var kaydetButton = document.getElementById("kaydetButton");
            kaydetButton.style.backgroundColor = "#000000";
            kaydetButton.style.color = "white";
            kaydetButton.style.border = "none";
            kaydetButton.style.padding = "10px 20px";
            kaydetButton.style.borderRadius = "5px";
        </script>
    </div>



}
