@model EntityLayer.Concrete.Kategori
@{
    ViewBag.Title = "EditKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<center><h2>Kategori Düzenleme Sayfası</h2></center>
@using (Html.BeginForm("EditKategori", "AdminKategori", FormMethod.Post))
{
    <div class="form-group">

        @Html.Label("Kategori ıd")
        @Html.TextBoxFor(x => x.KategoriID, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KategoriID)
        <br /> <br />
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KategoriAd)
        <br /><br />

        <button id="kaydetButton">Kaydet</button>

        <script>
            var kaydetButton = document.getElementById("kaydetButton");
            kaydetButton.style.backgroundColor = "#000000";
            kaydetButton.style.color = "white";
            kaydetButton.style.border = "none";
            kaydetButton.style.padding = "10px 20px";
            kaydetButton.style.borderRadius = "5px";
        </script>
    </div>



}
